<div style="background:#1e293b; padding:25px; border-radius:12px;">

<h2 style="color:#facc15;">Create User</h2>

<% if @user.errors.any? %>
  <div style="background:#ef4444; padding:10px;">
    <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model:@user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, style:"width:100%; padding:10px; margin-bottom:10px;" %>

  <%= f.label :email %>
  <%= f.text_field :email, style:"width:100%; padding:10px; margin-bottom:10px;" %>

  <%= f.submit "Create", style:"background:#e11d48; padding:10px; color:white; width:100%;" %>

<% end %>

</div>